.productos-conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
}

.producto-card{
    background-color: rgb(185, 189, 173);
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    height: 100%;
    text-align: center;
    margin-top: 5px;
    max-height: 350px;
    min-width: 200px;
}
.producto-card h2, p, button{
color: indigo;
}

.producto-image{
    width: 140px;
    height: 140px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}